h1{
	background-color: #eeeeee;
	font-family: 'Comic Sans MS', arial;
}
footer{
	margin: 0;
	padding: 2;
}

.smallFigure{
	width: 10%;
	height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
	border: 5px;
}

.fixedPosition{
	position: fixed;
}

.shade{
	background-image: url("https://cdn.pixabay.com/photo/2016/06/14/20/04/texture-1457392_1280.jpg");
  /*background-repeat: no-repeat*/
	background-size: cover;
}

.transparent{
	opacity: 0.7;
}
