h1{
	background-color: #eeeeee;
	font-family: 'Comic Sans MS', arial;
}
footer{
	margin: 0;
	padding: 2;
}

.smallFigure{
	width: 10%;
	height: auto;
	display: block;
  margin-left: auto;
  margin-right: auto;
	border: 5px;
}

.fixedPosition{
	position: fixed;
}
